# ============================================================
# Configuration Phusion Passenger / Apache pour o2switch
# Domaine : sanuya.danayaplus.com
# Compte  : vuxe8870
# ============================================================

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/vuxe8870/sanuya.danayaplus.com"
PassengerBaseURI "/"
PassengerPython "/home/vuxe8870/virtualenv/sanuya.danayaplus.com/3.11/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Directives pour LiteSpeed Web Server
PassengerEnabled on
PassengerAppType wsgi
PassengerStartupFile passenger_wsgi.py

# Bloquer l'affichage des dossiers bruts
Options -Indexes

# Forcer HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

